// PUG template for David's main page
html
  head
    title= "Guitar Leraning Methods"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
  body
    div(class="w3-container w3-black")
      h1(class="w3-left-align")= "Classical Guitar"
      h2(class="w3-margin-left")= "with open strings"
      div(class="w3-right-align")
        button(class="w3-black w3-btn")= "PT"
        button(class="w3-black w3-btn")= "EN"
    div(class="w3-padding")
      div(class="w3-panel w3-border w3-light-grey w3-round-large")
        p!= "Hello fellow guitarist, <br/> Thank you for coming to this page!"
        p!= "The idea of this website is to make a small database with all the guitar methods for beginners and rank them. You can like the methods you used for learning or use for teaching and make them rank up.<br/> If you don't find the methods you use/used, please add them to the list so that the database can grow.<br/> The idea is not to just create a method's ranking but also to be a place where teachers and new students can find new methods and approaches to the classical guitar."
        p= "Thank you for your contribution!"

    div(class="w3-center w3-padding")
      a(href="methods")
        button(class="w3-center w3-black w3-btn w3-round-large")= "Enter"

    div(class="w3-container w3-black")
      p= "By David Ramalho 2017"

