// PUG template for David's methods page
html
  head
    title= "Guitar Leraning Methods"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
  body
    div(class="w3-container")
      div(class="w3-container w3-black")
        div(class="w3-bar")
          button(style="width:30%;" class="w3-bar-item w3-button" onclick="window.location.href='/methods'")
            h1(class="w3-left-align")= "Classical Guitar"
            h2(class="w3-right-align")= "with open strings"

        div(class="w3-bar")
          a(href="ins-metodo.html" class="w3-bar-item w3-button w3-right")= "PT"
          a(href="#" class="w3-bar-item w3-button w3-right")= "EN"
    
      div(class="w3-center")
        div(class="w3-container w3-light-grey")
          h3= "Required Method"
    
        table(class="w3-table-all")
          tr
            th= "Ranking"
            th= "#Likes"
            th= "Id"
            th= "Method"
            th= "Author"
            th= "Date"
          
          tr
            td= "---"
            td= "---"
            td= m.id
            td
              a(href=m.url)= m.name
            td= m.aname
            td= m.date

      div(class="w3-container w3-black")
        p= "By David Ramalho 2017"
