// PUG template for David's methods page
html
  head
    title= "Guitar Leraning Methods"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
  body(onload="document.getElementById('date').value=new Date().toISOString();")
    div(class="w3-container")
      div(class="w3-container w3-black")
        div(class="w3-bar")
          button(style="width:30%;" class="w3-bar-item w3-button" onclick="window.location.href='/methods'")
            h1(class="w3-left-align")= "Classical Guitar"
            h2(class="w3-right-align")= "with open strings"

        div(class="w3-bar")
          a(href="ins-metodo.html" class="w3-bar-item w3-button w3-right")= "PT"
          a(href="#" class="w3-bar-item w3-button w3-right")= "EN"
    
      div(class="w3-center")
        div(class="w3-container w3-light-grey")
          h3= "Adding a New Method"

      form(class="w3-container" action="/methods/store")
        div(class="w3-section")
          div(class="w3-section")
            label
              b= "Method m" + counter
            input(class="w3-input w3-border w3-margin-bottom" value="m"+counter type="hidden"  name="id")
            input(id="date" name="date" type="hidden")
            input(name="likes" type="hidden" value="0")


          div(class="w3-section")
            label
              b= "Method's name"
            input(class="w3-input w3-border w3-margin-bottom" size="40" type="text" placeholder="Enter method's name" name="name" required)
            label
              b= "Where to find it"
            input(class="w3-input w3-border" type="text" placeholder="For example, Amazon's link or method's site address" name="url")
          
          div(class="w3-section")
            label
              b= "Author/Composer"
            input(class="w3-input w3-border" type="text" placeholder="Enter author's name" name="aname" required)
            label
              b= "Author/Composer website"
            input(class="w3-input w3-border" type="text" placeholder="Enter author's url" name="aurl")
          
          label
            b= "Did/Do you:"
          div(class="w3-border")
            input(class="w3-radio" type="radio" name="experience" value="learn")
            label= "Learn with this method"
            input(class="w3-radio" type="radio" name="experience" value="teach")
            label= "Teach with this method"
            input(class="w3-radio" type="radio" name="experience" value="both")
            label= "Both"
          input(class="w3-submit w3-margin-top w3-round-xxlarge w3-light-grey w3-hover-teal" type="submit" value="Add method")

      div(class="w3-container w3-black")
        p= "By David Ramalho 2017"
